/*
Using Bourbon, Neat anda base variables stored on partials/base
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
Layouts first
 */
#header, #page {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem; }
  #header:before, #header:after, #page:before, #page:after {
    content: " ";
    display: table; }
  #header:after, #page:after {
    clear: both; }

#sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  /*
  When smaller than 600px, go full width. Same thing applies to content
   */ }
  #sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    #sidebar {
      float: left;
      display: block;
      margin-right: 16.03631%;
      width: 100%;
      /*
      When screen smaller than 600px, navigation should display as inline and as block.
       */
      background-color: #FFF;
      font-size: 1rem;
      text-align: center; }
      #sidebar:last-child {
        margin-right: 0; }
      #sidebar .sticky {
        background-color: #FFF;
        padding: 0.5em; }
      #sidebar ul {
        list-style-type: none outside; }
      #sidebar li {
        display: inline;
        margin-right: 1em; }
      #sidebar h2 {
        display: none; }
      #sidebar #navigation {
        margin: 0;
        padding: 0; }
      #sidebar .information {
        display: none; } }

#content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    #content {
      float: left;
      display: block;
      margin-right: 16.03631%;
      width: 100%; }
      #content:last-child {
        margin-right: 0; } }

/*
On small screen, header and content should have margin around. Header should be centered too.
 */
@media screen and (max-width: 600px) {
  #content {
    padding: 0.5em; } }

@media screen and (max-width: 600px) {
  #header {
    text-align: center; } }

/*
Appearance later
 */
body {
  background-color: #fafafa;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 0 0 5em;
  word-wrap: break-word; }
  @media screen and (max-width: 600px) {
    body {
      margin: 0;
      padding: 0; } }

a, a:visited {
  color: #6dbce6;
  text-decoration: none; }

a:hover {
  color: #53aee4;
  text-decoration: underline; }

.contribute a {
  color: #e85100; }

.information {
  font-size: 1rem; }
