@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'partials/base';

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $sans-serif-font;
  font-size: 1.4rem;
  line-height: 1.6;
  padding-bottom: 5em;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}


#header, #page {
  @include outer-container;
  max-width: 60rem;
}

#sidebar {
  @include span-columns(3);
}
#content {
  @include span-columns(9);
}

.contribute a {
  color: $highlight-color;
}
