$sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: "Georgia", "Times New Roman", "Times", serif;

$bg-color: #FAFAFA;
$text-color: #333;
$highlight-color: #e85100;
$link-color: #6DBCE6;
$link-hover-color: #53AEE4;

$mobile: new-breakpoint(max-width 600px 2);
